#caidan{
	position: absolute;
	left: 0px;
	top: 0%;
	width: 250px;
	height: 1000px;
	background-color: #0ff;
}
#a{
	position: absolute;
	left: 250px;
	top: 0px;
	width: 1150px;
	height:1000px;
	background-color: #000;
}
h2,h1{
	font-family:Garamond; 
	text-decoration: underline;
	color: #fff;
}
.green{
	font-family: cutieheartz Garamond;
	color: green;
	text-decoration: underline;
}
.red{
	font-family: cutieheartz Garamond;
	color: red;
	text-decoration: underline;
}
.blue{
	font-family: cutieheartz Garamond;
	color: blue;
	text-decoration: underline;
}
#aba{
	font-family:  cutieheartz Garamond;
}
.gray{
	font-family: cutieheartz Garamond;
	color: gray;
	text-decoration: underline;
}
.l-green{
	font-family: cutieheartz Garamond;
	color:#0008ff;
	text-decoration: underline;
}
.l-blue{
	font-family: cutieheartz Garamond;
	color:#0ff;
	text-decoration: underline;
}
.purple{
	font-family: cutieheartz Garamond;
	color:purple;
	text-decoration: underline;
}
.yellow{
	font-family: cutieheartz Garamond;
	color: yellow;
	text-decoration: underline;
}
#black{
	color: black;
}
#tixing{
	color: red;
	font: 50px cutieheartz Garamond;
	border:dashed 2px green;
}

#w{
	color: white;
}